In [1]:
#Dependencies
import pandas as pd
import requests

# Fetch population data from the World in Data Server.
df = pd.read_csv("https://ourworldindata.org/grapher/population.csv?v=1&csvType=full&useColumnShortNames=true", storage_options = {'User-Agent': 'Our World In Data data fetch/1.0'})

# Fetch the metadata
metadata = requests.get("https://ourworldindata.org/grapher/population.metadata.json?v=1&csvType=full&useColumnShortNames=true").json()

In [9]:
# Filter the data for years from 2000-2023
filtered_df = df[(df['Year'] >= 2000) & (df['Year'] <= 2023)].reset_index(drop=True)

filtered_df.head(30)

         Entity Code  Year  population_historical
0   Afghanistan  AFG  2000               20130279
1   Afghanistan  AFG  2001               20284252
2   Afghanistan  AFG  2002               21378081
3   Afghanistan  AFG  2003               22733007
4   Afghanistan  AFG  2004               23560598
5   Afghanistan  AFG  2005               24404520
6   Afghanistan  AFG  2006               25424050
7   Afghanistan  AFG  2007               25909790
8   Afghanistan  AFG  2008               26482577
9   Afghanistan  AFG  2009               27466056
10  Afghanistan  AFG  2010               28284036
11  Afghanistan  AFG  2011               29347668
12  Afghanistan  AFG  2012               30559988
13  Afghanistan  AFG  2013               31622662
14  Afghanistan  AFG  2014               32792472
15  Afghanistan  AFG  2015               33831716
16  Afghanistan  AFG  2016               34700565
17  Afghanistan  AFG  2017               35688889
18  Afghanistan  AFG  2018               36742997
19  Afghanistan  AFG  2019               37856071
20  Afghanistan  AFG  2020               39068933
21  Afghanistan  AFG  2021               40000360
22  Afghanistan  AFG  2022               40578801
23  Afghanistan  AFG  2023               41454709
24       Africa  NaN  2000              830579986
25       Africa  NaN  2001              851687592
26       Africa  NaN  2002              873408538
27       Africa  NaN  2003              895731600
28       Africa  NaN  2004              918775571
29       Africa  NaN  2005              942543827

In [13]:
#Rename columns
filtered_df.rename(columns={
    "Entity": "Country",
    "population_historical": "Population"
}, inplace=True)

#Drop Code column for merging at the end
filtered_df.drop("Code", axis =1, inplace =True)

#Preview cleaned data
filtered_df.head(23)

        Country  Year  Population
0   Afghanistan  2000    20130279
1   Afghanistan  2001    20284252
2   Afghanistan  2002    21378081
3   Afghanistan  2003    22733007
4   Afghanistan  2004    23560598
5   Afghanistan  2005    24404520
6   Afghanistan  2006    25424050
7   Afghanistan  2007    25909790
8   Afghanistan  2008    26482577
9   Afghanistan  2009    27466056
10  Afghanistan  2010    28284036
11  Afghanistan  2011    29347668
12  Afghanistan  2012    30559988
13  Afghanistan  2013    31622662
14  Afghanistan  2014    32792472
15  Afghanistan  2015    33831716
16  Afghanistan  2016    34700565
17  Afghanistan  2017    35688889
18  Afghanistan  2018    36742997
19  Afghanistan  2019    37856071
20  Afghanistan  2020    39068933
21  Afghanistan  2021    40000360
22  Afghanistan  2022    40578801

In [15]:
#Preview unquie contries to check if merged properly
unique_countries = filtered_df["Country"].unique()
print(unique_countries)

['Afghanistan' 'Africa' 'Africa (UN)' 'Akrotiri and Dhekelia' 'Albania'
 'Algeria' 'American Samoa' 'Americas (UN)' 'Andorra' 'Angola' 'Anguilla'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Asia' 'Asia (UN)'
 'Asia (excl. China and India)' 'Australia' 'Austria' 'Azerbaijan'
 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize'
 'Benin' 'Bermuda' 'Bhutan' 'Bolivia' 'Bonaire Sint Eustatius and Saba'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'British Virgin Islands'
 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon'
 'Canada' 'Cape Verde' 'Cayman Islands' 'Central African Republic' 'Chad'
 'Chile' 'China' 'Colombia' 'Comoros' 'Congo' 'Cook Islands' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cuba' 'Curacao' 'Cyprus' 'Czechia'
 'Democratic Republic of Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'East Timor' 'Ecuador' 'Egypt' 'El Salvador'
 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Europe'
 'Europe (UN)' 'Europe (excl. Russia)' 'European Union (27)'
 'Falkland Islands' 'Faroe Islands' 'Fiji' 'Finland' 'France'
 'French Guiana' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia' 'Germany'
 'Ghana' 'Gibraltar' 'Greece' 'Greenland' 'Grenada' 'Guadeloupe' 'Guam'
 'Guatemala' 'Guernsey' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti'
 'High-income countries' 'Honduras' 'Hong Kong' 'Hungary' 'Iceland'
 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Isle of Man' 'Israel'
 'Italy' 'Jamaica' 'Japan' 'Jersey' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kiribati' 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos'
 'Latin America and the Caribbean (UN)' 'Latvia' 'Lebanon' 'Lesotho'
 'Liberia' 'Libya' 'Liechtenstein' 'Lithuania' 'Low-income countries'
 'Lower-middle-income countries' 'Luxembourg' 'Macao' 'Madagascar'
 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Marshall Islands'
 'Martinique' 'Mauritania' 'Mauritius' 'Mayotte' 'Mexico'
 'Micronesia (country)' 'Moldova' 'Monaco' 'Mongolia' 'Montenegro'
 'Montserrat' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands' 'Netherlands Antilles' 'New Caledonia' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'Niue' 'North America' 'North Korea'
 'North Macedonia' 'Northern America (UN)' 'Northern Mariana Islands'
 'Norway' 'Oceania' 'Oceania (UN)' 'Oman' 'Pakistan' 'Palau' 'Palestine'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland'
 'Portugal' 'Puerto Rico' 'Qatar' 'Reunion' 'Romania' 'Russia' 'Rwanda'
 'Saint Barthelemy' 'Saint Helena' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Martin (French part)' 'Saint Pierre and Miquelon'
 'Saint Vincent and the Grenadines' 'Samoa' 'San Marino'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Serbia and Montenegro' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Sint Maarten (Dutch part)' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'South America' 'South America (excl. Brazil)'
 'South Korea' 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname'
 'Svalbard and Jan Mayen' 'Sweden' 'Switzerland' 'Syria' 'Taiwan'
 'Tajikistan' 'Tanzania' 'Thailand' 'Togo' 'Tokelau' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan'
 'Turks and Caicos Islands' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States'
 'United States Virgin Islands' 'Upper-middle-income countries' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Vatican' 'Venezuela' 'Vietnam'
 'Wallis and Futuna' 'Western Sahara' 'World' 'Yemen' 'Zambia' 'Zimbabwe']

In [17]:
# Predefined list of country names (ISO 3166-1 countries as an example)
valid_countries = [
    'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda', 
    'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
    'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
    'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 
    'Cape Verde', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica', 'Croatia', 'Cuba', 
    'Cyprus', 'Czechia', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 
    'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Germany',
    'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 
    'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 
    'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 
    'Libya', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mexico', 
    'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 
    'New Zealand', 'Nicaragua', 'Nigeria', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 
    'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 
    'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Samoa', 'San Marino', 'Saudi Arabia', 'Senegal', 'Serbia', 
    'Seychelles', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'South Africa', 'South Korea', 'South Sudan', 
    'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 
    'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Uganda', 'Ukraine', 'United Arab Emirates', 
    'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 
    'Zimbabwe'
]

# Filter the DataFrame to only keep rows where 'country' is in the valid countries list
df_final = filtered_df[filtered_df['Country'].isin(valid_countries)].reset_index(drop=True)

# Display the filtered countries name in the DataFrame
all_countries = df_final["Country"].unique()
print(all_countries)

['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola' 'Anguilla'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Brunei' 'Bulgaria'
 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon' 'Canada' 'Cape Verde'
 'Chad' 'Chile' 'China' 'Colombia' 'Comoros' 'Congo' 'Costa Rica'
 'Croatia' 'Cuba' 'Cyprus' 'Czechia' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Ethiopia' 'Fiji' 'Finland' 'France' 'Gabon' 'Gambia'
 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'Iceland' 'India' 'Indonesia'
 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan'
 'Kazakhstan' 'Kenya' 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia'
 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Lithuania' 'Luxembourg'
 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Mexico'
 'Moldova' 'Monaco' 'Mongolia' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia'
 'Nepal' 'Netherlands' 'New Zealand' 'Nicaragua' 'Nigeria'
 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Palau' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Qatar' 'Romania' 'Russia' 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Samoa' 'San Marino' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Singapore' 'Slovakia' 'Slovenia' 'Solomon Islands' 'South Africa'
 'South Korea' 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname'
 'Sweden' 'Switzerland' 'Syria' 'Taiwan' 'Tajikistan' 'Tanzania'
 'Thailand' 'Togo' 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom' 'United States'
 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela' 'Vietnam' 'Yemen' 'Zambia'
 'Zimbabwe']

In [21]:
#View if filtered properly
df_final.head(35)

        Country  Year  Population
0   Afghanistan  2000    20130279
1   Afghanistan  2001    20284252
2   Afghanistan  2002    21378081
3   Afghanistan  2003    22733007
4   Afghanistan  2004    23560598
5   Afghanistan  2005    24404520
6   Afghanistan  2006    25424050
7   Afghanistan  2007    25909790
8   Afghanistan  2008    26482577
9   Afghanistan  2009    27466056
10  Afghanistan  2010    28284036
11  Afghanistan  2011    29347668
12  Afghanistan  2012    30559988
13  Afghanistan  2013    31622662
14  Afghanistan  2014    32792472
15  Afghanistan  2015    33831716
16  Afghanistan  2016    34700565
17  Afghanistan  2017    35688889
18  Afghanistan  2018    36742997
19  Afghanistan  2019    37856071
20  Afghanistan  2020    39068933
21  Afghanistan  2021    40000360
22  Afghanistan  2022    40578801
23  Afghanistan  2023    41454709
24      Albania  2000     3166104
25      Albania  2001     3147892
26      Albania  2002     3134049
27      Albania  2003     3118038
28      Albania  2004     3098613
29      Albania  2005     3076108
30      Albania  2006     3050754
31      Albania  2007     3022843
32      Albania  2008     2992879
33      Albania  2009     2961436
34      Albania  2010     2928681

In [23]:
# Export as csv file
df_final.to_csv("data/population_data.csv", index=False)

In [51]:
#read previous cleaned data and new population cleaned data
country_path = "data/all_countries_merged_data.csv"
pop_path = "data/population_data.csv"

#Create dataframes
country_df = pd.read_csv(country_path)
pop_df = pd.read_csv(pop_path)

In [53]:
#Preview Country data
country_df.head()

,Country,Code,Year,GDP per Capita,Health_Expenditure,Gini_Coefficient,Income Class,Population density per square kilometer
0,Afghanistan,AFG,2000,1617.8264,No data,No data,Low-income countries,30.863773
1,Afghanistan,AFG,2001,1454.1108,No data,No data,Low-income countries,31.099846
2,Afghanistan,AFG,2002,1774.3087,87.39655,No data,Low-income countries,32.776905
3,Afghanistan,AFG,2003,1815.9282,86.26034,No data,Low-income countries,34.854280
4,Afghanistan,AFG,2004,1776.9182,93.952965,No data,Low-income countries,36.123142

In [35]:
#Preview population data
pop_df.head()

       Country  Year  Population
0  Afghanistan  2000    20130279
1  Afghanistan  2001    20284252
2  Afghanistan  2002    21378081
3  Afghanistan  2003    22733007
4  Afghanistan  2004    23560598

In [37]:
#Merge population data with countries data
All_count_df = country_df.merge(pop_df, on=["Country", "Year"], how="outer")

In [39]:
All_count_df.head()

,Country,Code,Year,GDP per Capita,Health_Expenditure,Gini_Coefficient,Income Class,Population density per square kilometer,Population
0,Afghanistan,AFG,2000,1617.8264,No data,No data,Low-income countries,30.863773,20130279.0
1,Afghanistan,AFG,2001,1454.1108,No data,No data,Low-income countries,31.099846,20284252.0
2,Afghanistan,AFG,2002,1774.3087,87.39655,No data,Low-income countries,32.776905,21378081.0
3,Afghanistan,AFG,2003,1815.9282,86.26034,No data,Low-income countries,34.85428,22733007.0
4,Afghanistan,AFG,2004,1776.9182,93.952965,No data,Low-income countries,36.123142,23560598.0

In [41]:
#Rename columns
All_count_df.rename(columns={
    "Health_Expenditure": "Health Expenditure",
    "Gini_Coefficient": "GINI Coefficient",
    "Population density per square kilometer" : "Population Density"
}, inplace=True)

#Preview cleaned data
All_count_df.head()

,Country,Code,Year,GDP per Capita,Health Expenditure,GINI Coefficient,Income Class,Population Density,Population
0,Afghanistan,AFG,2000,1617.8264,No data,No data,Low-income countries,30.863773,20130279.0
1,Afghanistan,AFG,2001,1454.1108,No data,No data,Low-income countries,31.099846,20284252.0
2,Afghanistan,AFG,2002,1774.3087,87.39655,No data,Low-income countries,32.776905,21378081.0
3,Afghanistan,AFG,2003,1815.9282,86.26034,No data,Low-income countries,34.85428,22733007.0
4,Afghanistan,AFG,2004,1776.9182,93.952965,No data,Low-income countries,36.123142,23560598.0

In [43]:
# Predefined list of country names (ISO 3166-1 countries as an example)
valid_countries = [
    'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda', 
    'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
    'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
    'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 
    'Cape Verde', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica', 'Croatia', 'Cuba', 
    'Cyprus', 'Czechia', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 
    'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Germany',
    'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 
    'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 
    'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 
    'Libya', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mexico', 
    'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 
    'New Zealand', 'Nicaragua', 'Nigeria', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 
    'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 
    'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Samoa', 'San Marino', 'Saudi Arabia', 'Senegal', 'Serbia', 
    'Seychelles', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'South Africa', 'South Korea', 'South Sudan', 
    'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 
    'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Uganda', 'Ukraine', 'United Arab Emirates', 
    'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 
    'Zimbabwe'
]
# Filter the DataFrame to only keep rows where 'country' is in the valid countries list
country_v1_df = All_count_df[All_count_df['Country'].isin(valid_countries)].reset_index(drop=True)

# Display the filtered DataFrame
all_count = country_v1_df["Country"].unique()
print(all_count)

['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola' 'Anguilla'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Brunei' 'Bulgaria'
 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon' 'Canada' 'Cape Verde'
 'Chad' 'Chile' 'China' 'Colombia' 'Comoros' 'Congo' 'Costa Rica'
 'Croatia' 'Cuba' 'Cyprus' 'Czechia' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Ethiopia' 'Fiji' 'Finland' 'France' 'Gabon' 'Gambia'
 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'Iceland' 'India' 'Indonesia'
 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan'
 'Kazakhstan' 'Kenya' 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia'
 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Lithuania' 'Luxembourg'
 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Mexico'
 'Moldova' 'Monaco' 'Mongolia' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia'
 'Nepal' 'Netherlands' 'New Zealand' 'Nicaragua' 'Nigeria'
 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Palau' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Qatar' 'Romania' 'Russia' 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Samoa' 'San Marino' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Singapore' 'Slovakia' 'Slovenia' 'Solomon Islands' 'South Africa'
 'South Korea' 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname'
 'Sweden' 'Switzerland' 'Syria' 'Taiwan' 'Tajikistan' 'Tanzania'
 'Thailand' 'Togo' 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom' 'United States'
 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela' 'Vietnam' 'Yemen' 'Zambia'
 'Zimbabwe']

In [45]:
#Preview data
country_v1_df.tail(20)

,Country,Code,Year,GDP per Capita,Health Expenditure,GINI Coefficient,Income Class,Population Density,Population
4180,Zimbabwe,ZWE,2004,2828.8455,No data,No data,Low-income countries,31.965483,12365847.0
4181,Zimbabwe,ZWE,2005,2642.1743,No data,No data,Low-income countries,32.269314,12483384.0
4182,Zimbabwe,ZWE,2006,2519.8293,No data,No data,Low-income countries,32.664864,12636402.0
4183,Zimbabwe,ZWE,2007,2395.9907,No data,No data,Low-income countries,33.098156,12804022.0
4184,Zimbabwe,ZWE,2008,1949.0364,No data,No data,Low-income countries,33.49902,12959096.0
4185,Zimbabwe,ZWE,2009,2152.7952,No data,No data,Low-income countries,33.973736,13142740.0
4186,Zimbabwe,ZWE,2010,2572.77,189.67076,No data,Low-income countries,34.526306,13356502.0
4187,Zimbabwe,ZWE,2011,2897.1008,168.25894,0.43153575,Low-income countries,35.143784,13595372.0
4188,Zimbabwe,ZWE,2012,3299.2598,162.58827,No data,Low-income countries,35.718853,13817838.0
4189,Zimbabwe,ZWE,2013,3357.1282,179.45686,No data,Low-income countries,36.22531,14013761.0
4190,Zimbabwe,ZWE,2014,3360.5522,208.45956,No data,Low-income countries,36.72564,14207314.0
4191,Zimbabwe,ZWE,2015,3382.923,194.98708,No data,Low-income countries,37.221035,14398957.0
4192,Zimbabwe,ZWE,2016,3366.3442,196.28409,No data,Low-income countries,37.741356,14600243.0
4193,Zimbabwe,ZWE,2017,3453.5098,143.92244,0.44337082,Low-income countries,38.289852,14812430.0
4194,Zimbabwe,ZWE,2018,3572.9836,111.07844,No data,Lower-middle-income countries,38.863632,15034396.0
4195,Zimbabwe,ZWE,2019,3294.8062,72.01597,0.5025645,Lower-middle-income countries,39.4761,15271330.0
4196,Zimbabwe,ZWE,2020,2987.2698,60.215363,No data,Lower-middle-income countries,40.13658,15526837.0
4197,Zimbabwe,ZWE,2021,3184.7854,63.136967,No data,Lower-middle-income countries,40.835377,15797165.0
4198,Zimbabwe,ZWE,2022,3323.1218,No data,No data,Lower-middle-income countries,41.53809,16069010.0
4199,Zimbabwe,ZWE,2023,3442.2512,No data,No data,Lower-middle-income countries,42.240604,16340778.0

In [47]:
# Export as csv file
country_v1_df.to_csv("data/Final_Countries.csv", index=False)

In [49]:
# Convert to JSON
All_Countries_json = country_v1_df.to_json(orient="records")

# Save JSON file
with open("data/All_Countries.json", "w") as f:
    f.write(All_Countries_json)